.bg-button{
  background-color: black;
}


.color-white{
  color: white;
}
.red{
  background-color: red;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
}

.imgstyle {
  width: 100%;
  height: 300px;
}
